body {
    margin: 0;
    background-color: #791E94
}

.container {
    display: flex;
    justify-content: space-around;
}

#first {
    border: 2px solid black;
    color: #BC3908;
    font-size: 70px;
    background-color: #20A4F3;
    border-radius: 20px;
}
#second {
    border: 2px solid black;
    color: #F6AA1C;
    font-size: 70px;
    border-radius: 20px;
    background-color: #59F8E8;
}

#main {
   display: flex;
   justify-content: space-around;
   margin-top: 5px;
}

#refresh {
    text-align: center;
    margin: 40px;
}
input {
    background-color: #89FC00;
    padding: 10px;
    border-radius: 40px;
}